*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*navigation bar starts*/

.header{
	min-height: 50vh;
	width: 100%;
	background-image: url(home.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-height: 11vh;
	background-color: #00001ed6;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	transition: 1s ease-out;
}

.logo{
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	display: flex;
	width: 45%;
	align-items: center;
	justify-content: flex-start;
	transition: 1s ease-out;
	justify-content: left;
}

.logo img{
	display: flex;
	width: 60px;
	height: 60px;
	margin-block-end: 10px;
	margin-inline: 10px;
}

.logo h4{
	position: relative;
	justify-items: center;
}

.logo a{
	padding-block: 0px;
	margin-block: 0px;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 45%;
	transition: 1s;
}

.nav-links li{
	list-style: none;
}

.nav-links li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #02f4c3;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links li:hover::after{
	width: 100%;
}

.nav-links a{
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: 550;
	font-size: 14px;
}

#about{
	color: #02f4c3;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: 550;
	font-size: 14px;
}

.burger{
	display: none;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width:1050px){
	.nav-links{
		width: 60%;
	}
	.logo{
		color: rgb(226, 226, 226);
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 17px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
.intro{
	margin: 15px auto;
	width: 90%;
}


/*mobile view start*/

@media screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}

	nav{
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		min-height: 9vh;
		background-color: #ffffffdb;
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		transition: 1s ease-in;
}
.header{
	overflow: hidden;
}

	.nav-links{
		position: absolute;
		right: 0px;
		height: 43vh;
		min-height: 40vh;
		top: 9vh;
		background: hsl(0, 0%, 100%, 0.1);
		backdrop-filter: blur(1rem);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		justify-content: flex-start;
		z-index: 1;
	}
	.nav-links li{
		opacity: 0;
		height: 70px;
		padding-top: 10px;
	}
	.nav-links a{
		font-weight: 700;
		font-size: 14px;
		color:#00001e;
	}
	.logo{
		color: rgb(13 14 52);
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 17px;
		display: flex;
		width: auto;
		align-items: center;
		justify-content: flex-start;
		transition: 1s ease-in;
	}
	.logo img{
		display: flex;
		width: 50px;
		height: 50px;
		margin-block-end: 8px;
		margin-inline: 10px;
	}
	.logo h4{
		margin-inline: 15px;
	}
	.burger{
		display: block;
		cursor: pointer;
	}
	.burger div{
		width: 25px;
		height: 3px;
		background-color: rgb(13 14 52);
		margin: 5px;
		transition: all 0.3s ease;
	}
	.intro{
		flex-direction: column;
	}
	.row{
		flex-direction: column;
	}
	
	.contactus-col img{
		margin-left: 0px;
		margin-right: 15px;
	}
	.aboutus h1{
		font-size: 24px;
	}
}

/*mobile view ends*/

.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50%);
	}
	to{
		opacity: 1;
		transform: translateX(0%);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(+45deg) translate(-5px,-6px);	
}

/*navigation bar ends*/

.text-box{
	width: 60%;
	color: white;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
}

.text-box h1{
	font-size: 50px;
	transition: 1s ease-in;
	text-shadow: 0 0 10px #000000;
	animation: textdown 2s ease-out;
}
@keyframes textdown{
	0%{
		color: transparent;
		text-shadow: 0 0 10px transparent;
		    -webkit-text-stroke: 0.1vw #383d52;
	}
	25%{
		color: transparent;
		text-shadow: 0 0 10px transparent;
	}
	50%{
		color: cyan;
	}
	100%{
		color: #fff;
	}
}

@media screen and (max-width:768px){
	.text-box h1{
	font-size: 30px;
	transition: 1s ease-in;							
	}
}

.text-box li{
	font-size: 62px;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	text-shadow: 0 0 5px #000000;
	text-align: center;
}
/* hero-btn */
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 12px 34px;
	font-size: 13px;
	margin-bottom: 5px;
	background: #01745d;
	position: relative;
	cursor: pointer;
	text-shadow: 0 0 5px #000000;
	overflow: hidden;
}

.hero-btn:hover{
	background: #00001ed6;
	transition: 1.5s;
	border: none;
}

.hero-btn span{
	position: absolute;
	display: block;
}
.hero-btn span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#02f4c3);
}
.hero-btn:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}
.hero-btn span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#02f4c3);
}
.hero-btn:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
.hero-btn span:nth-child(2){
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#02f4c3);
}
.hero-btn:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.hero-btn span:nth-child(4){
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#02f4c3);
}
.hero-btn:hover span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}
/*about us*/
p{
	text-align: justify;
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
}

.events{
	width: 90%;
	margin: auto;
	text-align: center;
}

.events h1{
	font-size: 36px;
    font-weight: 600;
	margin-block-start: 5%;
    font-family: 'Poppins', sans-serif;
}
.events h5{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: #777;
	text-align: center;
}
.events video{
	max-width: 320px;
	height: 0%;
	align-content: space-around;
	float: left;
	border: 3px solid #fff;
	border-radius: 10px;
	margin: 15px 15px 8px 5px;
}
.font{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.font-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;

}

.font i{
	color: #04f7c7;
	width: 100%;
	display: contents;

}
.font-col h3{
	color: #ffffff;
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: center;
	font-family: tahoma;
	text-transform: uppercase;
	font-size: 1.44rem;
	font-weight: normal;
}
#child{
	margin-top: 32px;
}
.events-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
}

.events-col img{
	width: 100%;
	border-radius: 10px;
}



.events-col p{
	padding: 0;
	text-align: left;
}

.events-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}
#h1{
	font-size: 36px;
	letter-spacing: 4px;
	margin-inline: 15px;
	line-height: 60px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5%;
	font-family: 'Poppins', sans-serif;
}
h3{
	font-weight: 600;
	color: #192526;
    font-size: 16px;
    line-height: 22px;
	width: 100%;
    padding: 10px;	
	font-family: 'Poppins', sans-serif;
	margin: auto;
	text-align: center;
	letter-spacing: 2px;
}

.rowh h2{
	font-family: 'Poppins', sans-serif;
}


@media screen and (max-width:768px){
	.events{
		margin: auto;
		width: 100%;
	}
	.events video{
		margin-block: 30px;
		margin-left: 15px;
		align-content: space-around;
	}
	.rowh h2{
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: 10%;
	margin-bottom: 5%;
	margin-inline: 10%;
	}
	.contactus-col, .contactus-col1{
		margin: 20px;
	}
}

/* Pastoral Profile */

#ch, #chi{
	display: none;
}
#ch:checked ~ .ppro {
	display: block;
}
#chi:checked ~ .pprof {
	display: block;
}
#ch:checked ~ label {
	display: none;
}
#chi:checked ~ label {
	display: none;
}
label {
	display: inline-block;
	font-family: 'poppins' sans-serif;
	cursor: pointer;
	color: #fff;
	background-color: #01291f;
	padding: 3px 13px;
	border-radius: 3px;
	margin-top: 12px;
}
.ppro{
	display: none;
}
.pprof{
	display: none;
}

/* contact us col */

.contactus{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 70px;	
}

.contactus-col{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	height: -webkit-fill-available;
	align-content: space-between;
	padding: 25px;
	border-radius: 20px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.contactus-col1{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	height: -webkit-fill-available;
	align-content: space-between;
	padding: 25px;
	border-radius: 20px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.contactus-col img{
	height: 200px;
	border-radius: 50%;
}
.contactus-col1 img{
	height: 200px;
	border-radius: 50%;
}
.contactus-col h5{
	font-family: 'poppins' sans-serif;
	background: #02c222;
	height: 2px;
	margin-top: 5%;
	width: 100%;
}
.contactus-col1 h5{
	font-family: 'poppins' sans-serif;
	background: #02c222;
	height: 2px;
	margin-top: 5%;
	width: 100%;
}
.contactus-col h4{
	text-align: justify;
	color: #01291f;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.contactus-col1 h4{
	text-align: justify;
	color: #01291f;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.contactus-col p{
	padding: 0;
	text-align: left;
}
.contactus p{
	text-align: center;
}
.contactus-col1 p{
	padding: 0;
	text-align: left;
}
.contactus1 p{
	text-align: center;
}
.contactus-col h3{
	margin-top: 15px;
}


#mintitle{
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: -5%;
	margin-bottom: 5%;
	margin-inline: 10%;
}

/* Ministry Section begins */

		.ministry{
			display: flex;
			background-color: #031625;
			font-family: Tahoma;
			font-size: 15px;
			line-height: 1.75;
			width: 90%;
			align-content: space-around;
			margin: auto;
		}

		.ministry:hover .t1-item{
			width: 18%;
		}

		.t1-item{
			transform: translate3d(0, 0, 0);
			position: relative;
			width: 25%;
			height: 100vh;
			min-height: 600px;
			color: white;
			overflow: hidden;
			transition: width 0.5s ease;
		}

		.t1-item:before, .t1-item:after{
			transform: translate3d(0, 0, 0);
			content:'';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.t1-item:after{
			background: rgba(3, 22, 37, 0.85);
			opacity: 1;
			transition: opacity 0.5s ease;
		}

		.t1-item:before{
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%);
			z-index: 1;
			opacity: o;
			transform: translate3d(0, 0, 0) translateY(50%);
			transition: opacity 0.5s ease, transform 0.5s ease;
		}

		.t1-item:hover{
			width: 30% !important;
		}

		.t1-item:hover:after{
			opacity: 0;
		}

		.t1-item:hover:before{
			opacity: 1;
			transform: translate3d(0, 0, 0) translateY(0);
			transition: opacity 1s ease, transform 1s ease 0.25s;
		}

		.t1-item:hover .t1-content{
			opacity: 1;
			transform: translateY(0);
			transition: all 0.75s ease 0.5s;
		}

		.t1-item:hover .t1-bg{
			filter: grayscale(0);
		}

		.t1-content{
			transform: translate3d(0, 0, 0) translateY(25px);
			position: relative;
			z-index: 1;
			text-align: center;
			margin: 0.1618em;
			top: 55%;
			opacity: 0;
		}

		.t1-content h1{
			font-family: tahoma;
			text-transform: uppercase;
			color: #1779cf;
			font-size: 1.44rem;
			font-weight: normal;
			margin-inline: 10px;
		}

		.t1-year{
			position: absolute;
			top: 50%;
			left: 50%;
			width: max-content;
			transform: translateX(-50%) translateY(-50%);
			z-index: 1;
		}
		#child{
			margin-inline-start: 5px;
		}

		.t1-year p{
			font-family: tahoma;
			font-size: 1.628rem;
			line-height: 1;
		}

		.t1-bg{
			transform: translate3d(0, 0, 0);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover;
			background-position: center center;
			transition: filter 0.5s ease;
			filter: grayscale(100%);
		}
		#mins{
			color: #777;
			font-family: tahoma;
	    	font-size: 14px;
    		font-weight: 300;
   		 	line-height: 20px;
		}

		/* Mobile view for Ministry Section */

		@media screen and (max-width:768px){
			#mintitle{
			margin-top: -20%;
			}
			.ministry{
				display: flex;
				flex-direction: column;
				background-color: #031625;
				font-family: Tahoma;
				font-size: 15px;
				line-height: 1.75;
				width: 90%;
				align-content: space-around;
				margin: auto;
			}
	
			.ministry:hover .t1-item{
				width: 100%;
			}
	
			.t1-item{
				transform: translate3d(0, 0, 0);
				position: relative;
				width: 100%;
				height: 100vh;
				min-height: 600px;
				color: white;
				overflow: hidden;
				transition: width 0.5s ease;
			}
	
			.t1-item:before, .t1-item:after{
				transform: translate3d(0, 0, 0);
				content:'';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
	
			.t1-item:after{
				background: rgba(3, 22, 37, 0.85);
				opacity: 1;
				transition: opacity 0.5s ease;
			}
	
			.t1-item:before{
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%);
				z-index: 1;
				opacity: o;
				transform: translate3d(0, 0, 0) translateY(50%);
				transition: opacity 0.5s ease, transform 0.5s ease;
			}
	
			.t1-item:hover{
				width: 100% !important;
			}
	
			.t1-item:hover:after{
				opacity: 0;
			}
	
			.t1-item:hover:before{
				opacity: 1;
				transform: translate3d(0, 0, 0) translateY(0);
				transition: opacity 1s ease, transform 1s ease 0.25s;
			}
	
			.t1-item:hover .t1-content{
				opacity: 1;
				transform: translateY(0);
				transition: all 0.75s ease 0.5s;
			}
	
			.t1-item:hover .t1-bg{
				filter: grayscale(0);
			}
	
			.t1-content{
				transform: translate3d(0, 0, 0) translateY(25px);
				position: relative;
				z-index: 1;
				text-align: center;
				margin: 0.1618em;
				top: 55%;
				opacity: 0;
			}
	
			.t1-content h1{
				font-family: tahoma;
				text-transform: uppercase;
				color: #1779cf;
				font-size: 1.44rem;
				font-weight: normal;
			}
	
			.t1-year{
				position: absolute;
				top: 50%;
				left: 50%;
				width: max-content;
				transform: translateX(-50%) translateY(-50%);
				z-index: 1;
			}
			#child{
				margin-inline-start: 5px;
			}
	
			.t1-year p{
				font-family: tahoma;
				font-size: 1.628rem;
				line-height: 1;
			}
	
			.t1-bg{
				transform: translate3d(0, 0, 0);
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-size: cover;
				background-position: center center;
				transition: filter 0.5s ease;
				filter: grayscale(100%);
			}		
		}
.aboutusend{
	display: flex;
	justify-content: center;
}

.aboutus{
	align-content: space-around;
	margin: 40px;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(about1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 50px 0;
}

.aboutus h1{
	font-size: 36px;
    letter-spacing: 4px;
    margin-inline: 15px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif;
	color: #ffffff;
}
.aboutus h3{
	text-align: center;
    font-weight: 600;
    font-size: 29px;
    line-height: 48px;
    letter-spacing: normal;
    color: #fff;
    margin: 10px 0;
    padding-inline: 60px;
}

@media screen and (max-width:768px){
	.aboutus h3{
		text-align: center;
		font-weight: 600;
		font-size: 25px;
		line-height: 48px;
		letter-spacing: normal;
		color: #fff;
		margin: 10px 0;
		padding-inline: 15px;
	}
}

/*footer*/

.footer{
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}

.footer p{
	text-align: center;
}
